.day-counter-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.day-counter-list.list-view {
    flex-direction: column;
}

.day-counter {
    width: 300px;
    min-height: 150px;
    margin: 0 16px 16px 0;
    border: 2px solid black;
    padding: 4px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day-counter .day-counter-info-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.day-counter.list-view {
    width: 800px;
    min-height: 30px;
    margin: 0 16px 16px 0;
    border: 2px solid black;
    padding: 4px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day-counter.list-view .day-counter-info-text {
    flex-direction: row;
    justify-content: space-around;
}

.day-counter.list-view .day-counter-info-text > * {
    width: 19%;
}

.day-counter.list-view input {
    box-sizing: border-box;
    min-width: 0;
    max-width: 100%;
}

.day-counter.list-view .counter-settings {
    display: none;
}

.day-counter-list.edit-mode .day-counter {
    cursor: move;
}